.Content_all_option_users {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.accordion {
    display: flex;
    width: 80%;
    height: 34rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 2.5rem;
    border: solid red 2px;
    z-index: 1;
    justify-content: center;
}

.img_ {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    /* transition: all 400ms ease; */

}

/* .img_:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
} */


/*---------------------- Options ------------------- */

.Content_options_Users {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 72rem;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 12rem; */
    padding: .9rem;
    width: 100%;
}

.btn_Forms:hover,
.btn_powerBi:hover,
.btn_Users:hover,
.btn_DataBase:hover,
.btn_Acount:hover  {
    width: 20rem;
    transition: all 300ms ease-out;
    position: relative;

}

.btn_Forms,
.btn_powerBi,
.btn_DataBase,
.btn_Users,
.btn_Acount {
    background-color: rgba(255, 97, 97, 0.575);width: 15rem;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.8rem;
    transition: all 300ms ease-in;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}


.btn_Forms>p,
.btn_powerBi>p,
.btn_Users>p,
.btn_DataBase>p,
.btn_Acount>p {
    color: #ffefef;
    font-size: 1.8rem;
    background-color: #fc5b5b;
    background: linear-gradient(198.35deg, #ffffff00 31.67%, rgba(0, 0, 0, 0) 87.55%);
    border-radius: .5rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 300ms ease-in;
    /* font-size: 14px; */
}


/* --------------------------- transition ------------------------- */

.btn_Forms {animation: anim-option 500ms forwards; }
.btn_powerBi {animation: anim-option2 600ms forwards;}
.btn_Users {animation: anim-option3 700ms forwards;}
.btn_DataBase {animation: anim-option4 800ms forwards;}
.btn_Acount {animation: anim-option4 900ms forwards;}


@keyframes  anim-option  {
    from {
        opacity: 0;
        transform: translatey(300px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

@keyframes  anim-option2 {
    from {
        opacity: 0;
        transform: translatey(300px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

@keyframes  anim-option3 {
    from {
        opacity: 0;
        transform: translatey(300px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

@keyframes  anim-option4 {
    from {
        opacity: 0;
        transform: translatey(300px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}


.Icons {
    font-size: 6rem;
    color: rgb(252, 252, 252);
}



/*--------------------------------- Buttom -----------------------------------------*/

.btn {
    /* border: 3px solid rgb(56, 175, 255); */
    /* position: relative; */
    font-weight: bold;
    transition: 0.2s ease all;
    background-image: url(../../../Images/Interface/Pulsar\ 150.png);
    background-color: rgba(85, 218, 252, 0.651);
    background-size: cover;
    background-position: 100%;
    backdrop-filter: blur(4px);
}

.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(56, 175, 255);
    z-index: -1;
}

.btn:hover,
.btn:focus {
    color: #fc5b5b;

}

.btn:hover:before,
.btn:focus:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 1.8rem;
    color: #fc5b5b;
}

.btn:active {
    transform: scale(0.9);
}


