/* login */
.Content_2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/*---------------------- Options ------------------- */

.Content_options_2 {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 72rem;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 10rem; */
    padding: .9rem;
}

.btn_,
.btn_2 {
    width: 17rem;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.8rem;
    /* animation-name: anim-down; */
    animation: anim-down_ 700ms forwards;
    color: #fc5b5b;
}

.btn_2 {
    animation: anim-down_2 700ms forwards;
}

.btn_3 {
    animation: anim-down_3 700ms forwards;
}

.btn_3 {
    width: 17rem;
    /* height: 35rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.8rem;
    color: #fc5b5b;
}

@keyframes anim-down_ {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
        position: absolute;
    }
}

@keyframes anim-down_2 {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
        display: none;
        position: absolute;

    }
}

@keyframes anim-down_3 {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        width: 47rem;
        height: 390px;
    }
}



.Icons_2 {
    font-size: 4rem;
    color: rgb(252, 252, 252);
}

.Icons_,
.Disable {
    font-size: 4rem;
    color: rgb(252, 252, 252);
    animation: off 1ms forwards;
    display: none;

}

@keyframes off {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
        display: none;
    }
}

/*--------------------------------- BTN Operator -----------------------------------------*/

.btn_>p,
.btn_2>p,
.btn_3>p {
    color: #ffefef;
    font-size: 1.5rem;
}

.btn_ {

    font-weight: bold;
    transition: 0.2s ease all;
    background-image: url(../../Images/Interface/Pulsar\ 150.png);
    background-color: rgba(85, 218, 252, 0.651);
    background-size: cover;
    background-position: 100%;
    backdrop-filter: blur(4px);
}

.btn_:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(56, 175, 255);
    z-index: -1;
}

.btn_:hover,
.btn_:focus {
    color: #fc5b5b;

}

.btn_:hover:before,
.btn_:focus:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 1.8rem;
    color: #fc5b5b;
}

.btn_:active {
    transform: scale(0.9);
}




/*------------------------------- BTN Supervisor -------------------------------------------*/

.btn_3 {
    /* border: 3px solid #fc5b5b; */
    /* position: absolute; */
    font-weight: bold;
    transition: 0.2s ease all;
    background-position: 100%;
    background-color: #fc5b5b;

    /* ----------- change of size ---------- */

}