.content_users {
    background-color: rgb(253, 100, 100);
    display: flex;
    justify-content:  space-around;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin: 20px auto;
    animation: content_ 800ms forwards;
}

.content_api_users {
    background-color: rgba(196, 196, 196, 0.76);
    display: flex;
    justify-content:  space-around;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
    margin-top: 20px;
    font-size: 1.3rem;

    animation: content_api 1s forwards;
}

/*----------------------------- animation ------------------*/

@keyframes content_api {
    from {
      opacity: 0;
      width: 4rem;
      height: auto;
    }
  
    to {
      opacity: 1;
      width: 70rem;
      height: auto;

    }
  }

  @keyframes content_ {
    from {
      opacity: 0;
      width: 4rem;
      height: auto;
    }
  
    to {
      opacity: 1;
      width: 70rem;
      height: auto;
    }
  }

.Content_options_users {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 10rem;
}

.content_search {
  background-color: rgb(253, 100, 100);
  display: flex;
  justify-content:  center;
  align-items: center;
  border-radius: 1.3rem;
  font-size: 1.6rem;
  animation: content_Search 700ms forwards;
  margin: 20px auto;
  width: 35rem;
  height: 3rem;
}

#Character {
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-align: center;
  animation: content_SearchCa 900ms forwards;
  position: absolute;
  height: 2rem;
}

@keyframes content_Search {
  from {
    opacity: 0;
    width: 5rem;
  }

  to {
    opacity: 1;
    width: 35rem;
    height: 3rem;
  }
}

@keyframes content_SearchCa {
  from {
    opacity: 0;
    width: 10%;
  }

  to {
    opacity: 1;
    width: 40%;
  }
}



/* ---------------------------- btn ---------------------------- */

.Delete,
.Edit {
    transition: all 300ms ease-out;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

.Delete:hover {
    color: rgb(255, 251, 251);
    background-color: rgb(255, 124, 124);
    font: bold;
    transition: all 300ms ease-out;
    
}

.Edit:hover {
  color: rgb(255, 251, 251);
  background-color: rgb(124, 224, 255);
    text-decoration:dashed;
    transition: all 300ms ease-out;
    
}

/*-------------------------------- conten edit --------------------------*/
.content_all_edit {
 display: flex;
 justify-content: center;
    margin: auto;
  align-items: flex-end;
}

.Content_close {
    margin: auto;
    padding-bottom: 1rem;
}

.btn_send_close {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 0;
    transition: all 200ms ease-out;
}

.btn_send_close:hover {
    background-color: gray;
    border: black solid 2px;
    color: white;
    transition: all 300ms ease-in;
}

.content_all_edit_  {
  display: none;
}

.content_edit_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 1.5rem;
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 99; 
    margin-top: -10em;
    animation: content_edit 500ms forwards;
    border: solid gray 2px;
}



@keyframes content_edit {
    from {
      opacity: 0;
      width: 0rem;
      height: auto;
    }
  
    to {
      opacity: 1;
      width: 50rem;
      height: auto;
    }
  }

  @keyframes content_edit_close {
    from {
      opacity: 1;
      width: 40rem;
      height: auto;
    }
  
    to {
      opacity: 0;
      width: 0rem;
      height: auto;
      display: none;
    }
  }