.Content_4 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/*---------------------- Options ------------------- */

.Content_options_4 {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 72rem;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 10rem; */
    padding: .9rem;
}

.btn_a,
.btn_3a{
    width: 17rem;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:1.8rem;
    /* animation-name: anim-down; */
    animation: anim-down_a 0ms forwards;
    color: #fc5b5b;
}

.btn_3a {
    animation: anim-down_2a 1  0ms forwards;
}

.btn_2a {
    animation: anim-down_3a 600ms forwards;
}

.btn_2a {
    width: 17rem;
    /* height: 35rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:1.8rem;
    color: #fc5b5b;
}

@keyframes anim-down_a {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
        position: absolute;
    }
}

@keyframes anim-down_2a {
    from {
        opacity: 1;
        
    }

    to {
        opacity: 0;
        display: none;
        position: absolute;

    }
}

@keyframes anim-down_3a {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        width:47rem;
        height: 390px;
    }
}



.Icons_4{
    font-size: 4rem;
    color: rgb(252, 252, 252);
}

.Icons_,
.Disable{
    font-size: 4rem;
    color: rgb(252, 252, 252);
    animation: off 1ms forwards;
    display: none;

}

@keyframes off {
    from {
        opacity: 1;
        
    }

    to {
        opacity: 0;
        display: none;
    }
}

/*--------------------------------- BTN Operator -----------------------------------------*/

.btn_a>p,
.btn_2a>p,
.btn_3a>p {
    color: #ffefef;
    font-size: 1.5rem;
}

.btn_a {
    /* border: 3px solid rgb(56, 175, 255); */
    /* position: relative; */
    font-weight: bold;
    transition: 0.2s ease all;
    background-image: url(../../../Images/Interface/Pulsar\ 150.png);
    background-color: rgba(85, 218, 252, 0.651);
    background-size: cover;
    background-position: 100%;
    backdrop-filter: blur(4px);
}

.btn_a:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(56, 175, 255);
    z-index: -1;
}

.btn_a:hover,
.btn_a:focus {
    color: #fc5b5b;
 
}

.btn_a:hover:before,
.btn_a:focus:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 1.8rem;
    color: #fc5b5b;
}

.btn_a:active {
    transform: scale(0.9);
}



/*----------------------------------- BTN Admin ---------------------------------------*/

.btn_2a {
    /* border: 3px solid #555454; */
    font-weight: bold;
    transition: 0.2s ease all;
    background-position: 100%;
    background-color: #505050;
}


/*------------------------------- BTN Supervisor -------------------------------------------*/
.btn_3a {
    /* border: 3px solid #fc5b5b; */
    position: relative;
    font-weight: bold;
    transition: 0.2s ease all;
    background-image: url(../../../Images/Interface/vehicle.png);
    background-color: rgba(247, 99, 99, 0.651);
    background-size: cover;
    background-position: 100%;
}

.btn_3a:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(245, 93, 93);
    z-index: -1;
    
}

.btn_3a:hover,
.btn_3a:focus {
    color: #fc5b5b;
}

.btn_3a:hover:before,
.btn_3a:focus:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 1.8rem;
    color: #fc5b5b;
}

.btn_3a:active {
    transform: scale(0.9);
}


